*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
examples/example_1/Gemfile.lock
examples/example_2/Gemfile.lock
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
